/* Reset all default browser styles */
header, footer, nav, main, article, section, figure, figcaption, h1, h2, h3, ul, li, body, div, p, img {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

header, footer {
  color: white;
  background-color: #213643;
}
nav {
  background-color: #728B96;
}

h1, h2, h3 {
 font-family: "Trebuchet MS", "Lucida Grande", Tahoma, sans-serif;
}
body {
 font-family: Georgia, Cambria, "Times New Roman", serif;
}

/* Box Model - Figure styling */
figure {
  margin: 2em;
  background-color: #EEEEEE;
  padding: 1.5em;
  border: solid 1px #999999;
}
