header, footer {
  color: white;
  background-color: #213643;
}
nav {
  background-color: #728B96;
}

h1, h2, h3 {
 font-family: "Trebuchet MS", "Lucida Grande", Tahoma, sans-serif;
}
body {
 font-family: Georgia, Cambria, "Times New Roman", serif;
}

#reviews {
   border-bottom: solid 3pt #213643;
   color: #ed8030;
}

/* Contextual Selectors */

/* Step 1: Selects all <p> elements */
/* p {color: #983C2A;} */

/* Step 2: Descendant selector - selects <p> elements that are descendants of <section> */
/* section p {color: #983C2A;} */

/* Step 3: Select <p> elements that are in <div> */
/* div p {color: #983C2A;} */

/* Step 4: Child selector - selects <p> elements that are direct children of <section> */
/* section>p {color: #983C2A;} */

/* Step 5: Adjacent sibling selector - selects <p> that immediately follows <h3> */
/* h3+p {color: #983C2A;} */

/* Step 6: General sibling selector - selects all <p> elements that are siblings of <h3> */
h3~p {color: #983C2A;}
