header, footer {
  color: white;
  background-color: #213643;
  text-align: center;
  padding: 1em;
}

body {
  font-family: Georgia, Cambria, "Times New Roman", serif;
}

/* Float class for gallery images */
.photo {
  float: left;
  width: 25%;
  text-align: center;
  margin: 1em;
}

.photo img {
  width: 100%;
  height: auto;
  display: block;
}

.photo figcaption {
  margin-top: 0.5em;
  font-style: italic;
}

/* Clear float to prevent layout issues */
main::after {
  content: "";
  display: table;
  clear: both;
}

