header, footer {
  color: white;
  background-color: #213643;
  text-align: center;
  padding: 1em;
  clear: both;
}

body {
  font-family: Georgia, Cambria, "Times New Roman", serif;
  margin: 0;
  padding: 0;
}

main {
  overflow: hidden;
}

/* Left column styling */
.leftcolumn {
  float: left;
  width: 50%;
  padding: 2em;
  background-color: #f0f0f0;
  box-sizing: border-box;
}

/* Right column styling */
.rightcolumn {
  float: right;
  width: 50%;
  padding: 2em;
  background-color: #e0e0e0;
  box-sizing: border-box;
}

h2 {
  color: #213643;
  margin-bottom: 1em;
}

h3 {
  color: #728B96;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 1em;
  line-height: 1.6;
}

